.dashboard {
    padding: 24px;
}

.kpi-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    margin-bottom: 30px;
}

.kpi-card {
    background: #fff;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.charts-grid {
    display: grid;
    grid-template-columns: 68% 28%;
    gap: 25px;
}


.chart-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

select {
    padding: 5px 8px;
    border-radius: 6px;
}

/* #combinedChart {
    height: auto;
    width: 50vw;
} */